#airbnb-logo-exp {
  color: rgb(255, 90, 95);
  height: 3vw;
  width: 3vw;
}

#online-exp-logo {
  display: flex;
  color: rgb(255, 90, 95);
  font-size: 1.3vw;
  font-weight: 900;
  margin-left: 5vw;
  margin-top: 2vw;
  height: 4vw;
  width: 5vw;
}

.logo-text {
  margin-top: 0.2vw;
  font-weight: bold;
  font-size: 2vw;
}

#online-exp-header {
  box-shadow: 1px 1px 3px 3px #969696;
}

#online-exp-nav {
  display: flex;
  justify-content: space-between;
}

#becomeHost-language-exp {
  display: flex;
  margin-right: 5vw;
}

#onlineExpPage-hostButton {
  font-size: 1vw;
  color: #222222;
  font-weight: bold;
}

#profileInHeader-exp {
  background-color: whitesmoke;
  color: grey;
  width: 5.5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30vw;
  margin-left: 1vw;
  cursor: pointer;
  width: 4.5vw;
  height: 3vw;
  margin-top: 1.5vw;
}

#profileInHeader-exp:hover {
  box-shadow: 1px 1px 3px 3px #969696;
}

#visit-homePage {
  text-decoration: none;
}
#onlineExperience-filter-section {
  box-shadow: 1px 1px #969696;
}

#filter-section-header {
  background-image: url(pictures/snimka.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 38vw;
  margin-top: 1vw;
  position: relative;
}

#filter-section-header > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
}
#filter-section-filters {
  display: flex;
  justify-content: start;
  align-self: center;
}
#filter-section-link {
  text-decoration: none;
  color: black;
}
#filter-button {
  display: flex;
  border-radius: 40vw;
  height: 3vw;
  width: 7vw;
  font-size: 1.4vw;
  border: 0.1vw solid gray;
  margin-left: 5vw;
  outline: none;
}
#filter-button:hover {
  border: 0.1vw solid black;
}
#filter-button-text {
  display: flex;
  margin-top: 0.5vw;
  margin-left: 0.3vw;
}
#filter-dates {
  border-radius: 40vw;
  height: 2vw;
  width: 6vw;
  font-size: 1.2vw;
  border: 0.1vw solid gray;
  outline: none;
  margin-left: 1vw;
  margin-top: 0.5vw;
}
#filter-dates:hover {
  border: 0.1vw solid black;
}
#filter-groupSize {
  border-radius: 40vw;
  height: 2vw;
  width: 7vw;
  font-size: 1vw;
  border: 0.1vw solid gray;
  outline: none;
  margin-left: 1vw;
  margin-top: 0.5vw;
}
#filter-groupSize:hover {
  border: 0.1vw solid black;
}
#vertical-line-section {
  height: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  color: gray;
}
.button-category {
  background-color: #f2f2f2;
  border-radius: 40vw;
  height: 2.5vw;
  margin-left: 0.3vw;
  outline: none;
  margin-top: 0.1vw;
}
#filter-section-header-firstText {
  top: 12vw;
  left: 4vw;
  font-size: 3.5vw;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#filter-section-header-secondText {
  top: 22vw;
  left: 4vw;
  font-size: 1.2vw;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#onlineExperience-experiences-section {
  margin-left: 5vw;
  margin-top: 2vw;
}
.online-experiences-section-header {
  font-size: 1.8vw;
  margin-bottom: 1vw;
  font-weight: bold;
}
.button-loadMore {
  margin-left: 40vw;
  width: 8vw;
  height: 3.5vw;
  font-size: 1.1vw;
  color: white;
  background-color: #222222;
  border-radius: 2vw;
}
.button-loadMore:hover {
  background-color: black;
}
