 #airbnb-logo-exp {
  color: rgb(255, 90, 95);
  height: 3vw;
  width: 3vw;
}

#online-exp-logo {
  display: flex;
  color: rgb(255, 90, 95);
  font-size: 1.3vw;
  font-weight: 900;
  margin-left: 5vw;
  margin-top: 2vw;
  height: 4vw;
  width: 5vw;
}

.logo-text {
  margin-top: 0.2vw;
  font-weight: bold;
  font-size: 2vw;
}

#online-exp-header {
  box-shadow: 1px 1px 3px 3px #969696;
}

#online-exp-nav {
  display: flex;
  justify-content: space-between;
}

#becomeHost-language-exp {
  display: flex;
  margin-right: 5vw;
}

#onlineExpPage-hostButton {
  font-size: 1vw;
  color: #222222;
  font-weight: bold;
}

#profileInHeader-exp {
  background-color: whitesmoke;
  color: grey;
  width: 5.5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30vw;
  margin-left: 1vw;
  cursor: pointer;
  width: 4.5vw;
  height: 3vw;
  margin-top: 1.5vw;
}

#profileInHeader-exp:hover {
  box-shadow: 1px 1px 3px 3px #969696;
}

#visit-homePage {
  text-decoration: none;
}

#filter-section-header{
  background-image: url(pictures/snimka.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 38vw;
}

#filter-section-header > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

